.message-content {
    display: flex;
    flex-direction: column;
}

.message-content .message-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.message-content .message-title .username {
    font: 500 16px Roboto;
    margin-right: 10px;
}

.message-content .message-title .date {
    font: 300 13px Roboto;
    color: var(--color-text-gray);
}